.footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: #fff;
  img {
    margin-bottom: 60px;
    vertical-align: middle;
    border-style: none;
  }
  .img__footer {
    max-width: 100%;
    height: auto;
  }
  .footer__light {
    display: block;
  }
  .footer__dark {
    display: none;
  }
  .container {
    .footer__contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer__title {
        // flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 1.5rem;
      }
      .footer__nav {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        .footer__nav-list {
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          justify-content: flex-end;
          .footer__nav-item {
            padding: 20px;
            a {
              font-size: 1.5rem;
              font-weight: 600;
              color: white;
              transition: all 0.5s;
              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }
  }
}
